.input-wrapper {
    background-color: white;
    width: 15%;
    border-radius: 10px;
    height: 2.5rem; 
    padding: 0 15px;
    align-self: center;
    box-shadow: 0 0 8px #ddd;
    display: flex;
    align-items: center;
}

input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
}

input:focus {
    outline: none;
}



