.shopcategory-indexSort {
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.shopcategory-sort {
    padding: 10px 20px;
    border-radius: 40px;
}

.shopcategory-sort p span {
    font-weight: 600;
}

.shopcategory-products {
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
    gap: 20px;
}

.shopcategory-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.shopcategory-pagination button {
  font-size: 15px;
  margin: 0 10px;
  color: #656565;
  border-radius: 30px; 
  padding: 15px 25px;
  background: #dedede;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease; 
}

.shopcategory-pagination button:hover {
  background: #656565; 
  color: #dedede;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); 
}

.shopcategory-pagination button.active {
  border: #656565 1px solid;
  color: #656565;
}

.shopcategory-pagination button.active:hover {
  color: #dedede;
}

.shopcategory-sort select {
  margin-left: 10px;
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.shopcategory-sort select:hover {
  background-color: #656565;
  color: #dedede;
}